language: node_js
node_js:
  - '4.0'
before_install:
  - npm i -g babel-cli
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm run lint
  - npm run build
  - npm run test
# after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
